#############################
# PYTHON
#############################
__pycache__/
*.py[cod]
*$py.class
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.coverage
.coverage.*
htmlcov/
.DS_Store


#############################
# FRONTEND
#############################
node_modules/
dist/
playwright-report/
test-results/
*.tsbuildinfo
.env.local
.env.*.local


#############################
# UV
#############################
.uv/


#############################
# Virtual Environments
#############################
.venv/
venv/
env/


#############################
# Editors
#############################
.vscode/
# vim
*.swp
# Emacs (As if we will ever use Emacs)
*~

#############################
# Data/Resources
#############################
/artifacts/
/src/services/ged/features/subsystems/lexicon/dictionary
/src/services/ged/data
